
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

html {
    font-family: 'Archivo Black', sans-serif;
    background-color: #ede6d8;
    font-size: 1.2rem;
    color: #044c3e;
}

main {
    max-width: 30rem;
    align-items: center;
    width: 100%;
    margin: 2.5rem auto;
    padding: 1rem;
    border: 0.7rem solid #044c3e;
    border-radius: 1rem;
    background-color: #eeacb7;
}

h1{
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
    font-size: 2.5rem;
    margin: 2rem;
}

.input{
    display: flex;
    justify-content: center;
    margin: 3rem;
}

#user_input {
    font-family: 'Archivo Black', sans-serif;
    font-size: 1.2rem;
    width: 50%;
    padding: 0.02rem 0.5rem;
    border: 0;
    border-bottom: 0.3rem solid #044c3e;
    margin-right: 2rem;    
    background-color: #eeacb7;
    color: #044c3e;
}

#add_button {
    font-family: 'Archivo Black', sans-serif;
    border: 0.3rem solid #044c3e;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 0.5rem;
    background-color: #eeacb7;
    color: #044c3e;
}

#items_list{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 16rem;
    margin: 0 auto;
    list-style: none;
}

li {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

li button {
    font-family: 'Archivo Black', sans-serif;
    border: 0.3rem solid #044c3e;
    height: 2rem;
    width: 2rem;
    border-radius: 0.5rem;
    background-color: #eeacb7;
    color: #044c3e;
}

.bought {
    opacity: 0.5;
}